/* this is social media div design */

.mywork2, #mywork2 {
  width: 100%;
  background-color: white;
  margin: 60px 0;
}

.mywork2 table {
  width: 95%;
  margin: 70px auto;
  overflow: auto;
  table-layout: fixed;
  border-collapse: collapse;
}

.mywork2 table tr th {
  border-bottom: 2px solid var(--background);
  border-top: 1px solid var(--background);
}

.mywork2 table tr th, td {
  text-align: left;
  padding: 1.5%;
  letter-spacing: 1px;
}

.mywork2 table tr td {
  border-bottom: 1px solid var(--background);
  padding: 10px 0;
}

.mywork2 h1 {
  text-align: center;
  width: 300px;
  margin-bottom: 50px;
  padding: 7px;
  border-left: 5px solid var(--background);
  margin: 0 auto;
}

.mywork2 table tr th p {
  border-left: 3px solid var(--background);
  padding-left: 5px;
}

.tablemargin {
  margin: 0 30px;
}

@media screen and (min-width: 800px) {
  .mywork2 table {
    width: 65%;
  }
}
